<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.husni.moviestvcatalogue">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="id.husni.moviestvcatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="id.husni.moviestvcatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MovieReleaseActivity">

        </activity>

        <receiver
            android:name=".reminder.ReleaseReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widget.MoviesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movies_widget_info" />
        </receiver>

        <provider
            android:name=".provider.CatalogueProvider"
            android:authorities="id.husni.moviestvcatalogue"
            android:enabled="true"
            android:exported="true"
            android:readPermission="id.husni.moviestvcatalogue.READ_DATABASE"
            android:writePermission="id.husni.moviestvcatalogue.WRITE_DATABASE" />

        <activity android:name=".detail.search.SeriesSearchDetail" />
        <activity android:name=".activity.SeriesSearchActivity" />
        <activity android:name=".detail.search.MoviesSearchDetail" />
        <activity android:name=".activity.MovieSearchActivity" />

        <receiver
            android:name=".reminder.DailyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".widget.MoviesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".activity.ReminderActivity" />
        <activity android:name=".detail.SeriesDetail" />
        <activity android:name=".detail.MoviesDetail" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>